{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        #nos-services .sec-title{
            padding-left: 20px;
            margin-bottom: 20px;
        }

        #nos-services .sec-title:after{
            left: 20px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="page-wrapper">
        
        <!-- Preloader -->
        <div class="preloader">&nbsp;</div>
        
        <!-- Main Header-->
        {{ include('header.html.twig') }}
        <!--End Main Header -->
        
        <!--Main Slider-->
        <section class="main-slider">
            
            <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
                <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                    <ul>
                        
                        <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{{ asset('template/images/main-slider/image-1.jpg') }}" data-title="Slide Title" data-transition="parallaxvertical">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('template/images/main-slider/image-1.jpg') }}"> 
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['-95','-90','-90','-90']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <h2>Fournir la meilleure qualité <br> De conseil</h2>

 
                        </div>
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['40','40','20','0']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <div class="text">Depuis plus de 40 ans, nous sommes enthousiastes à l'idée de parvenir à de meilleurs résultats pour nos clients.</div>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['150','150','120','100']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <div class="btns-box">
                                <a href="#" class="theme-btn btn-style-one">{{'Savoir Plus...'|trans({},'homepage')}}</a><a href="contact.html" class="theme-btn btn-style-two">{{'Nous Contacter'|trans({},'homepage')}}</a>
                            </div>
                        </div>
                        
                        </li>
                        
                        <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{{ asset('template/images/main-slider/image-2.jpg') }}" data-title="Slide Title" data-transition="parallaxvertical">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('template/images/main-slider/image-2.jpg') }}"> 
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['-95','-90','-90','-90']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <h2>Atteindre de grands objectifs <br> avec notre équipe</h2>

                        </div>
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['40','40','20','0']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <div class="text">Depuis plus de 40 ans, nous sommes enthousiastes à l'idée de parvenir à de meilleurs résultats pour nos clients.</div>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['150','150','120','100']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <div class="btns-box">
                                <a href="#" class="theme-btn btn-style-one">{{'Savoir Plus...'|trans({},'homepage')}}</a><a href="contact.html" class="theme-btn btn-style-two">{{'Nous Contacter'|trans({},'homepage')}}</a>
                            </div>
                        </div>
                        
                        </li>
                        
                        <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1690" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{{ asset('template/images/main-slider/image-3.jpg') }}" data-title="Slide Title" data-transition="parallaxvertical">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('template/images/main-slider/image-3.jpg') }}"> 
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['-95','-90','-90','-90']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <h2 class="alternate">Fournir des conseils en entreprise <br> Pour la croissance</h2>
                        </div>
                        
                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['40','40','20','0']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <div class="text">Depuis plus de 40 ans, nous sommes enthousiastes à l'idée de parvenir à de meilleurs résultats pour nos clients.</div>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['560','700','700','550']"
                        data-whitespace="normal"
                        data-hoffset="['15','15','15','15']"
                        data-voffset="['150','150','120','100']"
                        data-x="['right','right','right','right']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        >
                            <div class="btns-box">
                                <a href="#" class="theme-btn btn-style-one">{{'Savoir Plus...'|trans({},'homepage')}}</a><a href="contact.html" class="theme-btn btn-style-two">{{'Nous Contacter'|trans({},'homepage')}}</a>
                            </div>
                        </div>
                        
                        </li>
                        
                    </ul>
                </div>
            </div>
        </section>
        <!--End Main Slider-->
        
        <!--Welcome Section-->
        <section class="welcome-section" style="background-image:url({{ asset('template/images/resource/map-pattern-1.png') }})">
            <div class="auto-container">
                <!--Services Title-->
                <div class="services-title">
                    <div class="title">
                        {{'Bienvenue dans notre cabinet'|trans({},'homepage')}}
                    </div>
                    <h2>

                        {{'Au cours des 10 dernières années, nous avons été dans cette entreprise de conseil en entreprise, nous avons pu aider beaucoup de meilleures organisations de vol et un grand nombre de personnes.'|trans({},'homepage')}}

                    </h2>
                </div>
                <div class="row clearfix" id="nos-services">

                    <div class="sec-title">
                        <h2>Nos Services</h2>
                        <div class="text">
                            BB MLM est le meilleur complice du conseil pour les organisations d'innovation en démarrage
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box hvr-float-shadow">
                            <div class="image">
                                <a href="market-plans.html"><img src="{{ asset('template/images/resource/services-1.jpg') }}" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="market-plans.html">{{'Microfinance'|trans({},'homepage')}}</a></h3>
                                <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci quia dolo velit</div>
                                <a href="market-plans.html" class="read-more">Read more</a>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box hvr-float-shadow">
                            <div class="image">
                                <a href="market-plans.html"><img src="{{ asset('template/images/resource/services-2.jpg')}}" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="market-plans.html">{{'Immobilier'|trans({},'homepage')}}</a></h3>
                                <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci quia dolo velit</div>
                                <a href="market-plans.html" class="read-more">Read more</a>
                            </div>
                        </div>
                    </div>
                    
                    <!--Services Block-->
                    <div class="services-block col-md-4 col-sm-6 col-xs-12">
                        <div class="inner-box hvr-float-shadow">
                            <div class="image">
                                <a href="market-plans.html"><img src="{{ asset('template/images/resource/services-3.jpg')}}" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="market-plans.html">{{'Forever'|trans({},'homepage')}}</a></h3>
                                <div class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci quia dolo velit</div>
                                <a href="market-plans.html" class="read-more">Read more</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--End Welcome Section-->
        
                
        <!--Call To Action Section-->
        <section class="call-to-action-section" style="background-image:url({{ asset('template/images/background/1.jpg') }})">
            <div class="auto-container">


 
                <h2>Nous sommes passionnés par notre travail & <span>et faisons croître votre entreprise </span></h2>
                <div class="number-box clearfix">
                    <div class="pull-left">
                        <div class="number">+225 22 00 00 00</div>
                    </div>
                    <div class="pull-right">
                        <a href="" class="theme-btn btn-style-three">
                            {{'Nous Contacter'|trans({},'homepage')}}
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--End Call To Action Section-->
        
        
        
        
        
        <!--Testimonial Section-->
        <section class="testimonial-section" style="background-image:url({{ asset('template/images/background/3.jpg') }})">
            <div class="auto-container">
                <div class="single-item-carousel owl-carousel owl-theme">
                    
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><img src="{{ asset('template/images/resource/author-1.jpg') }}" alt="" /></div>
                            </div>
                            <div class="text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</div>
                            <div class="author">Michale John</div>
                            <div class="designation">General Executive</div>
                        </div>
                    </div>
                    
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><img src="{{ asset('template/images/resource/author-1.jpg') }}" alt="" /></div>
                            </div>
                            <div class="text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</div>
                            <div class="author">Michale John</div>
                            <div class="designation">General Executive</div>
                        </div>
                    </div>
                    
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="image-box">
                                <div class="image"><img src="{{ asset('template/images/resource/author-1.jpg') }}" alt="" /></div>
                            </div>
                            <div class="text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis.</div>
                            <div class="author">Michale John</div>
                            <div class="designation">General Executive</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--End Testimonial Section-->
    
        <!--Appointment Section-->
        <section class="appointment-section" style="background-image:url({{ asset('template/images/background/2.jpg') }})">
            <div class="auto-container clearfix">
                <div class="inner-container">
                    <h2>Relation client avec communication transparente ...</h2>
                    <div class="text">Les solutions BB MLM peuvent vous aider à y arriver.</div>
                    <a href="#" class="theme-btn btn-style-two">{{'Nous Contacter'|trans({},'homepage')}}</a>
                </div>
            </div>
        </section>
        <!--End Appointment Section-->
        
        {{ include('footer.html.twig') }}
    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}