{% for item in users %}
	<tr class="data-item" data-id="{{ item.id }}">
		<td class="data-item-image">
			{% if item.image %}
				<img  style="height: 50px;" src="{{ asset('upload/public/'~item.image) }}" alt="" />
				
			{% else %}
				<img  style="height: 50px;" src="{{ asset('img/vignette-landscape.png') }}">
			{% endif %}
		</td>

		<td>
			<a href="" class="edit">
				{{ item.civility }}. {{ item.username|lower|title }}
			</a>
		</td>

		<td>
			<a href="" class="edit">
				{{ item.birth|date("d M Y") }}
			</a>
		</td>

		<td>{{ item.email }}</td>

		<td>{{ item.corporation ? item.corporation.name|upper : '-' }}</td>

		<td>
    		{{ item.createAt|date('d M Y à H:i') }}
		</td>

		<td>
			<span class="label bg-purple">
            {{ item.state }}
			</span>
		</td>

		<td>
			<span class="label bg-purple">
            {{ item.type.name }}
			</span>
		</td>

		<td>
			<div class="btn-group">
            	<button type="button" class="btn bg-purple btn-flat">Menu</button>
              	<button type="button" class="btn bg-purple btn-flat dropdown-toggle" data-toggle="dropdown">
                	<span class="caret"></span>
                	<span class="sr-only">Toggle Dropdown</span>
              	</button>
              	<ul class="dropdown-menu pull-right" role="menu">
                	<li>
                		<a href="{{ path('admin_user_index',{'user_id':item.id})}}">
                			Tableau de bord
                		</a>
                	</li>
                 	<li class="divider"></li>
              </ul>
            </div>
		</td>
	</tr>
{% endfor %}