{% extends 'account/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block stylesheets %}
	{{ parent() }}

	<style>

		
		#current-widget-data{
			display: none;
		}

		#data-loading{
			display: none;
		}

		
		#right-section.data-loading #data-loading{
			display: block;
		}

		#right-section.data-active #current-widget-data{
			display: block !important;
		}

		#right-section.data-active #data-secondary-box,
		#right-section.data-loading #data-secondary-box,
		#right-section.data-loading #current-widget-data{
			display: none;
		}

		#current-widget-data #spinner{
			display: none;
		}

		#current-widget-data.updating #spinner{
			display: block;
		}
	</style>

{% endblock %}


{% block header_content %}
	Les Rôles <small>gestion des rôles et privilèges de la palateforme</small>
{% endblock %}

{% block body_content %}
	
	{{ include('account/admin/modal-info.html.twig') }}

	<div class="modal modal-danger fade" id="myModal">
    	<div class="modal-dialog">
        	<div class="modal-content">
          		<div class="modal-header">
            		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              			<span aria-hidden="true">×</span>
              		</button>
            		<h4 class="modal-title">Confirmation...</h4>
          		</div>
          
          		<div class="modal-body">
          			<h4>Voulez-vous vraiment supprimer ce rôle ?</h4>

            		<p>
            			Une fois l'action éfféctuée tout les utilisateurs possedant ce rôle ou privilège perdront tout leurs avantages.
            		</p>

          		</div>
          
          		<div class="modal-footer">
            		<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">
            			Annuler
            		</button>

            		<button type="submit" class="btn btn-outline">Valider</button>
          		</div>
        	</div>
        	<!-- /.modal-content -->
      	</div>
      <!-- /.modal-dialog -->
    </div>

    

    

	<div class="row">
    	<div class="col-xs-12 col-md-8">
        	<div class="box box-primary">
            	<div class="box-header">
              		<h3 class="box-title">Tous les rôles et privilèges</h3>
            	</div>
            
            	<!-- /.box-header -->
            	<div class="box-body table-responsive no-padding" id="data-container">
              		<table class="table table-hover">
		                <tbody>
		                	<tr>
		                 		<th>Nom</th>
		                 		<th>Reférence</th>
		                  		<th>Description</th>
		                  		<th>Nature</th>
		                  		<th>#</th>
		                	</tr>
	                		
	                		{% for item in roles %}
		                		<tr class="data-item" data-id="{{ item.id }}">
		                  			<td class="data-item-name">
		                  				{{ item.name|lower|title }}
		                  			</td>

		                  			<td class="data-item-label">
		                  				<span class="label bg-purple">
		                  					{{ item.label }}
		                  				</span>
		                  			</td>

		                  			<td class="data-item-description">
		                  				{{ item.description }}
		                  			</td>

		                  			<td class="data-item-type">
		                  				<span class="label bg-purple">
			                  				{{ item.type }}
			                  			</span>
		                  			</td>

		                  			<td class="data-item-tools">
		                  				<a data-id="{{ item.id }}" href="" class="edit btn">
		                  					<i class="fa fa-edit"></i> modifier
		                  				</a>
		                  			</td>
		                		</tr>
		                	{% endfor %}
	               
	              		</tbody>
              		</table>
            	</div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12" id="right-section">

        	<div style="text-align:center" id="data-loading">
        		<i  class="fa fa-spinner fa-spin fa-3x"></i>
        	</div>

        	<div class="box box-danger" id="current-widget-data">
            	<div class="box-header">
            		<h3 class="box-title">Modification</h3>

            		 <div class="box-tools pull-right">
			            
			            <button id="data-btn-remove" data-title="supprimer" type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#myModal">
			                <i class="fa fa-trash fa-2x"></i>
			            </button>
			       
			        </div>
            	</div>
            	
            	<form>
	            	<div class="box-body preview">

	            		

				  		<div class="form-group">
				    		<label for="name">Name</label>
				    		<input name="name" type="text" class="form-control" id="name" />
				  		</div>
				  
				  		<div class="form-group">
				    		<label for="label">Reférence</label>
				    		<input name="label" type="text" class="form-control" id="label" />
				  		</div>

				  		<div class="form-group">
				    		<label for="description">Description</label>
				    		<textarea style="resize:none" class="form-control" name="description" id="description" rows="3"></textarea>
				  		</div>

				  		<div class="form-group">
				    		<label for="type">Nature</label>

				    		<div class="radio">
                    			<label>
                      				<input name="type" class="role-type" value="role" type="radio">
                      				Rôle
                    			</label>
                  			</div>

                  			<div class="radio">
                    			<label>
                      				<input name="type" class="role-type" value="privilege" type="radio">
                      				Privilège
                    			</label>
                  			</div>
				  		</div>

				  		<div id="alert-success" class="alert alert-dismissible" style="display:none">
			                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			                <h4><i class="icon fa fa-check"></i> Félicitation!</h4>
			                <span class="message"></span>
			            </div>

			            <div id="alert-error" class="alert alert-dismissible" style="display:none">
			                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			                <h4><i class="icon fa fa-times"></i> Attention!</h4>
			                <span class="message"></span>
			            </div>

	            	</div>

	            	<div class="box-footer" style="padding-top:10px">
	              		<button type="reset" class="btn btn-default" >
	              			Annuler
	              		</button>

	                	<button type="submit" class="btn bg-purple pull-right">
	                		<i class="fa fa-save"></i> Enregistrer
	                	</button>
	            	</div>
            	</form>

            	<div class="overlay" id="spinner">
              		<i class="fa fa-spinner fa-spin"></i>
            	</div>
          	</div>

        	<div class="box box-primary" id="data-secondary-box">
	            <div class="box-header with-border">
	            	<h3 class="box-title">Créez un role</h3>
	            </div>
	            
	            {{ form_start(form) }}
	            	<div class="box-body">
						
						{% for notice in app.flashes('notice-success') %}
                            <div class="alert alert-info alert-dismissible">
				                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                <h4><i class="icon fa fa-check"></i> Félicitation!</h4>
				                Le role à bien été enregistré avec succès.
				            </div>
                        {% endfor %}

                        {% for notice in app.flashes('notice-error') %}
                            <div class="alert alert-danger alert-dismissible">
				                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				                <h4><i class="icon fa fa-check"></i> Attention!</h4>
				                {{ notice }}
				            </div>
                        {% endfor %}


	            		{{ form_row(form.name) }}
	            		{{ form_row(form.label) }}
	            		{{ form_row(form.type) }}
	            		{{ form_row(form.description) }}

	              	</div>

	              	<div class="box-footer">
	                	<button type="reset" class="btn btn-default">Annuler</button>

	                	<button type="submit" class="btn bg-purple pull-right">
	                		<i class="fa fa-save"></i> Enregistrer
	                	</button>
	              	</div>
              	{{ form_end(form) }}
	        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="{{ asset('js/admin/manager.js') }}"></script>
	<script src="{{ asset('js/admin/role/manager.js') }}"></script>
	<script src="{{ asset('js/admin/role/index.js') }}"></script>
{% endblock %}

